<ion-view view-title="Bol India Bol" style="background-color: #ECFFFF;">
  <ion-nav-buttons side="right" >
    <button class="button button-icon icon ion-ios-loop-strong" ng-click="requestEvent()"></button>
    <button class="button button-icon icon ion-ios-upload-outline" ng-click="requestEvent()"></button>
    <button menu-toggle="right" class="button button-icon icon ion-gear-a"></button>
  </ion-nav-buttons>
    <ion-content class="has-header">
      
      <div class="card list" ng-repeat="news in newsReports">
         <a href="{{news.id}}" style="text-decoration:none">   
        <div>
        <h4  class="news-title">{{news.title}}</h4>
            <img src="{{news.image}}" class="news-image" >
        </div>
        
            
        <div class="item item-avatar-left item-icon-right" href="#">
    <img ng-src="img/avatar/man-1.png">
                <h2>News Report By</h2>
                <p>{{news.reportedby}}</p>
    <i class="icon"><p class="news-category" >{{news.category}}</p></i>
  </div>
        
        <div class="item item-icon-left item-icon-right">
    <i class="icon ion-ios-heart-outline" style="margin-left:5px;"><p class="news-action">Like</p></i>
    &nbsp;
          <i class="icon ion-android-share-alt" style="margin-right:5px;"><p class="news-action">Share</p></i>
   
  </div>
           </a> 
        </div>
     
      
     
      
      
      
    </ion-content>
</ion-view>